$color-red: #fd2b01;
$color-red-white: rgba(230, 43, 6, 0.8);

@mixin add-shadow-black {
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 3px 5px 12px 10px #868585;
  box-shadow: 3px 5px 12px 10px #868585;
}
@mixin add-shadow-white {
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 3px 2px 12px 0px #e4d7d7;
  box-shadow: 3px 2px 12px 0px #e4d7d7;
}
@mixin background-general {
  background-image: linear-gradient(rgba(248, 164, 148, 1), rgb(243, 236, 234));
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/body-background.jpg");
  .mainRoot {
    margin: auto;
    padding: 3em;

    .section_home {
      height: 80vh;
      //  background-color: aliceblue;
      width: 70vw;
      margin: auto;
      margin-bottom: 20px;
      @include add-shadow-black;
      min-width: 200px;
      padding-bottom: 0em;
      box-shadow: 2px 2px 149px 17px rgba(227, 242, 242, 0.71) inset;
      -webkit-box-shadow: 2px 2px 149px 17px rgba(227, 242, 242, 0.71) inset;
      -moz-box-shadow: 2px 2px 149px 17px rgba(227, 242, 242, 0.71) inset;

      object-fit: cover;
    }
    .h1_Home {
      text-align: center;
      background-color: rgb(253, 239, 239);
      @include add-shadow-white;
      padding: 1em;
    }
    .h1_home_titre {
      font-size: 1.5em;
      font-weight: 400;
    }

    .form-container {
      display: flex;
      justify-content: space-around;
      margin: 0em 0 5em 0;
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }
  @media screen and (max-width: 700px) {
    .mainRoot {
      margin-top: 0px;
      padding-top: 50px !important;
    }
  }
}
