$color-red: #f8340c;

@mixin add-shadow-black{
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 3px 5px 12px 10px #868585;
  box-shadow: 3px 5px 12px 10px #868585;
  }
  @mixin add-shadow-white{
    border-radius: 9px 9px 9px 9px;
    -webkit-box-shadow: 3px 2px 12px 0px #e4d7d7;
    box-shadow: 3px 2px 12px 0px #e4d7d7;
    }  
.signin_profil {
    display: flex;
    column-gap: 100px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 120px !important;
  //  border: solid 2px black;
    .upload_img_profil {
       // display: none;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: aliceblue;
      //  @include add-shadow-black;
        background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
        url("../images/icon-left-font-long.png" );
    }
        .content_profil_input {  
            padding: 0em;
            background-color: rgb(240, 224, 224);
            @include add-shadow-black;
            background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
            url("../images/icon-left-font-long.png" );
            margin: 0.5em;
            color: black;
            font-size: 0.8em;
        }
        .content_profil_input:hover {
            transform: scale(1.02);
        }
        .content_profil_label { 
           font-size: 1em;
            padding: 0.8em;
            background-color: rgb(240, 224, 224);
            @include add-shadow-black;
            background-image: linear-gradient(rgba(248, 164, 148, 0.8), rgba(243, 236, 234, 0.2)),
            url("../images/icon-left-font-long.png" );
            margin: 1em;
            color: black;
            font-size: 1em;
        }
     
      
}
@media screen and (max-width: 400px) {
  .upload_img_profil {
    font-size: 0.7em;
      margin-top: 0 !important;
      
  }
  .content_profil_input {
    font-size: 0.4em !important;
    border: solid 1px black !important;
  } 
} 
@media screen and (max-width: 300px) {
  .content_profil_input {
    font-size: 0.4em !important;
    border: solid 1px black !important;
}
}
