$color-red: #fd3c16;
$color-red-white:rgba(230, 43, 6, 0.8);

@mixin add-shadow-black {
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 3px 5px 12px 10px #cec8c8;
  box-shadow: 3px 5px 12px 10px #cec8c8;
}
@mixin add-shadow-white {
  border-radius: 9px 9px 9px 9px;
  -webkit-box-shadow: 3px 2px 12px 0px #e4d7d7;
  box-shadow: 3px 2px 12px 0px #e4d7d7;
}
@mixin background-general{
  background-image: linear-gradient(rgba(248, 164, 148, 1), rgb(243, 236, 234));

 }



.user-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    @include background-general;
   // @include add-shadow-black;
    font-size: 1em;
    color: black;
    margin-top: 80px;
   
    width: 150px;
    .user-container {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin:-2.5em;
      background-color: #e4d7d7;
    }
    .img_profil {
      margin-left: 0px;
      margin-top: -90px;
      position: absolute;
      object-fit: cover;
      width: 75px;
      height: 75px;
      border-radius: 100px;
      -webkit-box-shadow: 5px 2px 29px 5px #f3eded9a;
      box-shadow: 5px 2px 29px 5px #f3eded9a;
    
    }
 
}
@media screen and (max-width:635px){
  .user-container {
    margin-left: 0em !important;
    margin-top: 180px !important;
    font-size: 0.8em;
  }
 
  .section_blog .form_mediaCard {
    width: 90% !important ;
  }

}
@media screen and (max-width:350px){
  .user-container {
    margin-left: 0em !important;
    margin-top: 170px !important;
  }



}
